.navbarContainer {
    position: absolute;
    top: 10.8rem;
    right: 3.2rem;
    height: 20rem;
    width: 23rem;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    overflow: hidden;

    ul {
        list-style: none;
        color: #3b3b3b;
        font-size: 1.6rem;
        margin: 0;
        padding-left: 2.4rem;

        li {
            display: flex;
            border-bottom: 1px solid rgb(134, 132, 132);
            justify-content: space-between;
            padding: 1.6rem;
            padding-left: 0;

            .remove {
                color: red;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}